.sidebar-container {
    min-height: 100vh;       
}

.sidebar-open {
    max-width: 150px;
}

.sidebar-collapsed {
    width: 50px;
}

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}
